body {
    background-color: #e9a8a7;
    
}

#tableEl {
    margin: 0 auto;
    border: 2px solid black
}

th, td {
    text-align: center;
    border: 2px solid black;
}

tr{
    font-weight: 900;
    border: 2px solid black;
}